.top-header{
    overflow: hidden;
    background-color: rgb(116, 121, 254);
    padding: 10px 10px;
}

.top-header a {
    float: left;
    color: white;
    text-align: right;
    padding: 10px;
    text-decoration: none;
}

.top-header-right{
    float: right;
}